@model BeerTracker5000.Models.Beer

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete this beer!</h2>

<h3>What did this beer do to deserve this fate? Are you sure you want to delete it?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.BeerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BreweryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BreweryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Abv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Abv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ibu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ibu)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
